:local(.root) {
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

:local(.submit) {
    background-color: #33C3F0;
    border-color: #33C3F0;
    color: white;
    margin-top: 1rem;
    width: 47%;
    float: left;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
}

:local(.delete) {
    width: 47%;
    float: right;
    font-size: 1.2rem;
    text-align: center;
    padding: 0;
    margin-top: 1rem;

}

:local(.list) {
    width: 90%;
    height: 19.5rem;
    background: #FFFFFF;
    padding: 1em;
    margin: auto;
    margin-top: 2rem;
    border-top: 10px solid #33C3F0;
    box-shadow: 0 2px 10px rgba(0,0,0,0.8);
    overflow: scroll;
}

:local(.form){
    width: 90%;
    margin-bottom: 2rem;
}

:local(.headLineList){
    text-decoration: underline;
}
